body {
  background-color: azure;
  font-family: 'Arial';
  text-align: center;
  height: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
}

div#root {
  width: 100%;
  text-align: center;
  height: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
}